@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 50px;
}
.container p{
    font-size: 20px;
}
.header{
    padding: 50px 0;
}
.header .container{
    display: flex;
}
.logo{
    flex-grow: 1;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding-left: 40px;
    font-size: 20px;
}
.nav-button{
    font-size: 1.7rem;
    background: transparent;
    border: none;
}
.close-button{
    display: none;
}
.hamburger-button{
    display: none;
}
.section1{
    margin-bottom: 80px;
}
.section-container{
    display: flex;
    align-items: center;
}
.section1 img{
    width: 100%;
}
.left{
    flex: 1;
    padding-right: 50px;
}
.right{
    flex: 1;
}
.section1 h1{
    font-size: 2.5rem;
    padding-bottom: 30px;
}
.section1 p{
    padding-bottom: 20px;
}
.section1 .email{
    padding: 10px;
    border: 1px solid #bdbdbd;
    margin-right: 10px;
    width: 60%;
    font-size: 20px;
}
.section1 button{
    padding: 10px;
    background-color: #537FFA;
    width: 30%;
    border: none;
    color: white;
    font-size: 20px;
    
}
.section1 button:hover{
    background-color: cornflowerblue;
}
.curve{
    margin-bottom: -10px;

}
.curve img{
    width: 100%;
}
.section2{
    background-color: #F6F6FE;
}

.section2 h1{
    padding-bottom: 30px;
}
.section2 img{
    width: 100%;
}
.section2 a{
    color: #3C9F8F;
    text-decoration: none;
    padding-top: 30px;
    font-size: 17px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    
}
.section2 .card{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card .description{
    padding-left: 20px;
}
.card .reviewer{
    display: flex;
    
    padding-top: 30px;
}
.card img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.section3{
    background-color: #585989;
    padding: 50px 0;
    color: white;
}

.section3 input{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 20px;

}
.section3 button{
    width: 50%;
    background-color: hsl(224, 93%, 58%);
    padding: 10px 0;
    border: none;
    color: white;
    font-size: 20px;
}
.section3 button:hover{
    
    background-color:#537FFA ;
}
.section3 h1{
    padding-bottom: 30px;
}
footer{
    background-color: #07043A;
    color: white;
    padding: 80px 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu{
    display: flex;
    flex-direction: column;
}
.footer-menu a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
}
footer p{
    padding: 10px 0;
}
footer .socials a{
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 14px;
    margin: 0 10px;
}
.socials .fa-facebook{
    padding: 10px 4px;
}
.socials a:hover{
    color: #537DE0;
}

@media screen and (max-width: 1000px){
    .navbar{
        position: absolute;
        background: white;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;

    }
    .mobile-navbar{
        transform: translateX(0);
    }
    
    .close-button{
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .close-button{
        display: block;
    }
    .hamburger-button{
        display: block;
    }
    .navbar a{
        padding: 10px;
    }
    .section-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .section1 .right{
        order: -1;
        padding-bottom: 100px;
    }
    .section1 .left{
        text-align: center;
    }
    .section1 .email{
        width: 100%;
        margin-bottom: 15px;
    }
    .section1 button{
        width: 100%;
        
    }
    .section2{
        padding: 100px 0;
    }
    .card{
        margin: 0 auto;
    }
     .section3 .right{
         width: 100%;
         
     }
     .section3 .email{
        
        margin-top: 50px;
    }
     .section3 button{
        width: 100%;
        margin-top: 10px;
        
    }
    .left{
        
        
        padding-right: 0;
    }
    footer .container{
        flex-direction: column;
    }
    .footer-menu{
        margin-top: 30px;
    }
    .socials{
        margin-top: 50px;
    }
    
}